# **19CSE305: MACHINE LEARNING LAB**
## Using Pandas and Python to Explore Your Dataset

Sikha O K

CSE Department

ASe-Coimbatore

**Excercise 1**

*   Import Pandas in Python with the pd alias.
*   use .read_csv() to read in your dataset and store it as a DataFrame object in the variable data.

In [1]:
 import pandas as pd
 print(pd.__version__)

1.1.5

In [2]:
#Read dataset
data=pd.read_csv('/content/drive/MyDrive/ML_Btech/LAB/LAB3/data.csv')
print(type(data))

<class 'pandas.core.frame.DataFrame'>

**Excercise 2**

Explore *read_json(), read_html(), and read_sql_table()*
Click [here](https://realpython.com/pandas-read-write-files/) to learn how to work with these file formats,

In [ ]:
#Display the number of rows in the dataset
rows=len(data)
print("Number of rows: ",rows)
#Display the dimension of the  dataset
dim=data.shape
print("Dimension: ",dim)

In [ ]:
#Print a part of the dataset
print(data)

In [ ]:
#Print the entire dataset
print(data.to_string())

**Excercise 3:** Viewing the Data

One of the most used method for getting a quick overview of the DataFrame, is the head() method.

The head() method returns the headers and a specified number of rows, starting from the top.

In [ ]:
print("The first five rows of the dataset: ")
data.head()#by default print the five rows

In [ ]:
print("The first 10 rows of the dataset: ")
data.head(10)#by default print the five rows

In [ ]:
print("The last five rows of the dataset: ")
data.tail()#by default print the five rows

In [ ]:
print("The last 10 rows of the dataset: ")
data.tail(10)#by default print the five rows

**Excercise 3** Info About the Data

The DataFrames object has a method called info(), that gives you more information about the data set.

Every columns of a dataframe contain values of a specific data type.

In [19]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB
None

**Showing Basics Statistics**
Display the overview of the values each column contains. You can do this with  **.describe()**

This function shows you some basic descriptive statistics for all numeric columns

In [3]:
data.describe()

         Duration       Pulse    Maxpulse     Calories
count  169.000000  169.000000  169.000000   164.000000
mean    63.846154  107.461538  134.047337   375.790244
std     42.299949   14.510259   16.450434   266.379919
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   250.925000
50%     60.000000  105.000000  131.000000   318.600000
75%     60.000000  111.000000  141.000000   387.600000
max    300.000000  159.000000  184.000000  1860.400000

**.describe()**only analyzes numeric columns by default, but you can provide other data types if you use the include parameter:

In [4]:
data['id']="h"
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
 4   id        169 non-null    object
dtypes: float64(1), int64(3), object(1)
memory usage: 6.7+ KB
None

In [5]:
data.describe(include=object)

         id
count   169
unique    1
top       h
freq    169

**Excercise 4:**Exploring Your Dataset

1.  To examine how often specific values occur in a column:
2.   List item

In [7]:
print("Frequecy of each value in the Duration column\n")
data["Duration"].value_counts()

60     79
45     35
30     16
20      9
90      8
150     4
180     3
120     3
210     2
160     2
75      2
15      2
80      1
300     1
25      1
270     1
Name: Duration, dtype: int64

In [ ]:
print("Frequecy of each value in the Maxpulse  column\n")
data["Maxpulse"].value_counts()

**Excercise 5**: Querying Your Dataset

Create a new DataFrame that contains only those rows whose calories>average of calories

In [12]:
print(data["Calories"])

0      409.1
1      479.0
2      340.0
3      282.4
4      406.0
       ...
164    290.8
165    300.0
166    310.2
167    320.4
168    330.4
Name: Calories, Length: 169, dtype: float64

In [14]:
newdatf=data[data["Calories"]>data["Calories"].mean()]
newdatf.shape

(48, 5)

## **Data Cleaning : Data Preprocessing**

Data cleaning means fixing bad data in your data set.

Bad data could be:

*   Empty cells
*   Data in wrong format
*  Wrong data
*  *Duplicates*

**Empty Cells**

Empty cells can potentially give you a wrong result when you analyze data.

Remove Rows

One way to deal with empty cells is to remove rows that contain empty cells.

In [17]:
new_data=data.dropna()
print(new_data.info())
#By default, the dropna() method returns a new DataFrame, and will not change the original.
#If you want to change the original DataFrame, use the inplace = True argument:
#new_data1=data.dropna(inplace=true)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 164 entries, 0 to 168
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  164 non-null    int64
 1   Pulse     164 non-null    int64
 2   Maxpulse  164 non-null    int64
 3   Calories  164 non-null    float64
 4   id        164 non-null    object
dtypes: float64(1), int64(3), object(1)
memory usage: 7.7+ KB
None

##  **Replace Empty Values**

Another way of dealing with empty cells is to insert a new value instead.

The **fillna()** method allows us to replace empty cells with a value:

In [19]:
#Replace NULL values with the number 250:
data=pd.read_csv('/content/drive/MyDrive/ML_Btech/LAB/LAB3/data.csv')
data.fillna(250, inplace = True)
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  169 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB
None

**Replace Only For a Specified Columns**

The example above replaces all empty cells in the whole Data Frame.

To only replace empty values for one column, specify the column name for the DataFrame:

In [ ]:
data=pd.read_csv('/content/drive/MyDrive/ML_Btech/LAB/LAB3/data.csv')
data["Calories"].fillna(130, inplace = True)
print(data.info())

**Replace Using Mean, Median, or Mode**

A common way to replace empty cells, is to calculate the mean, median or mode value of the column.

Pandas uses the mean() median() and mode() methods to calculate the respective values for a specified column:

In [ ]:
data=pd.read_csv('/content/drive/MyDrive/ML/18CS311_ML_LAB/LAB2/data.csv')
x= data["Calories"].mean()
data["Calories"].fillna(x,inplace=True)

**Removing Duplicates**

Discovering Duplicates
Duplicate rows are rows that have been registered more than one time.

To discover duplicates, we can use the duplicated() method.

The duplicated() method returns a Boolean values for each row:

In [20]:
#Returns True for every row that is a duplicate, othwerwise False:
print(data.duplicated())

0      False
1      False
2      False
3      False
4      False
       ...
164    False
165    False
166    False
167    False
168    False
Length: 169, dtype: bool

**Removing Duplicates**

To remove duplicates, use the drop_duplicates() method.

In [21]:
# To drop duplicate
data.drop_duplicates(inplace=True)
print(data.duplicated())

0      False
1      False
2      False
3      False
4      False
       ...
164    False
165    False
166    False
167    False
168    False
Length: 162, dtype: bool